/*
Template Name: Elegant Press
Theme URI: http://www.priteshgupta.com/templates/elegant-press
File: Layout CSS
Description: HTML5 and CSS3 Free Website Theme
Author: Pritesh Gupta
Author URI: http://www.priteshgupta.com/
Version: 1.2.0
License: New BSD License
License URI: license.txt
*/

/* Distributed by http://freehtml5templates.com */

/**
 * Elegant Press Template Version 1.2.0
 * By PriteshGupta.com 
 * Download for free at http://www.priteshgupta.com/templates/elegant-press
 
	Released under New BSD License
	http://www.opensource.org/licenses/bsd-license.php
	 
	Copyright (c) 2011, PriteshGupta.com
	All rights reserved.
	
	Redistribution and use in source and binary forms, with or without modification,
	are permitted provided that the following conditions are met:
	
		* Redistributions of source code must retain the above copyright notice,
		  this list of conditions and the following disclaimer.
	
		* Redistributions in binary form must reproduce the above copyright notice,
		  this list of conditions and the following disclaimer in the documentation
		  and/or other materials provided with the distribution.
	
		* Neither the name of PriteshGupta.com nor the names of its
		  contributors may be used to endorse or promote products derived from this
		  software without specific prior written permission.
	
	THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND
	ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED
	WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
	DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE LIABLE FOR
	ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES
	(INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;
	LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON
	ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT
	(INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS
	SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	border:0;
	font-size:100%;
	vertical-align:baseline;
	margin:0;
	padding:0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block
}
blockquote, q {
	quotes:none
}
blockquote:before, blockquote:after, q:before, q:after {
	content:none
}
.clearfix:before, .clearfix:after {
	content:"";
	display:table
}
.clearfix:after {
	clear:both
}
.clearfix {
	zoom:1
}
@font-face {
font-family: 'ChunkFive Regular';
src: url('fonts/Chunkfive.eot');
src: local('ChunkFive Regular'), local('ChunkFive'), url('fonts/Chunkfive.woff') format('woff'), url('fonts/Chunkfive.otf') format('opentype');
}
@font-face {
font-family: 'Artifika';
font-style: normal;
font-weight: normal;
src: local('Artifika Medium'), local('Artifika-Medium'), url('fonts/Artifika-Regular.woff') format('woff'), url('fonts/Artifika-Regular.ttf') format('truetype');
}
body {
	margin-top:30px;
	font-size:13px;
	font-family:Tahoma, Georgia, "Times New Roman", Times, serif;
	color:#333;
	background:#eee url(../images/bg.png) repeat;
	padding:0
}
.justify {
	text-align:justify
}
.right {
	text-align:right
}
.nostart {
	list-style-type:none;
	margin:0;
	padding:0
}
.clear {
	clear:both
}
br.clear {
	clear:both;
	margin-top:-15px
}
a {
	outline:none;
	text-decoration:none;
	color:#A3443E!important
}
.tagline_left {
	float:left
}
.tagline_right {
	float:right
}
img {
	display:block;
	border:none;
	margin:0;
	padding:0
}
.imgl, .imgr {
	border:1px solid #C7C5C8;
	padding:5px
}
.imgl {
	float:left;
	clear:left;
	margin:0 8px 8px 0
}
.imgr {
	float:right;
	clear:right;
	margin:0 0 8px 8px
}
div.main-container {
	display:block;
	text-align:left;
	margin:0 0 1px
}
div.main-container h1, div.main-container h2, div.main-container h3, div.main-container h4, div.main-container h5, div.main-container h6 {
	font-family:Artifika, Arial, Helvetica, sans-serif;
	font-weight:400;
	line-height:normal;
	margin:0 0 15px;
	padding:0
}
h1 {
	font-size:30px
}
h2 {
	font-size:28px
}
h3 {
	font-size:26px
}
h4 {
	font-size:24px
}
h5 {
	font-size:22px
}
h6 {
	font-size:18px
}
header {
	text-align:center;
	text-transform:uppercase
}
header h1 {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0
}
header h1 a {
	font-family:'ChunkFive Regular', Arial, Helvetica, sans-serif;
	font-size:75px;
	text-shadow:0 3px 3px #555;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0)
}
header h1 a:hover {
	font-size:100px;
-webkit-transform:scale(1.1+) translateZ(0);
	-moz-transform:scale(1.1) translateZ(0);
	-o-transform:scale(1.1) translateZ(0);
	transform:scale(1.1) translateZ(0)
}
header p {
	margin-top:-20px;
	font-size:20px
}
#sub-headline {
	border-bottom:1px solid #666;
	padding:15px 0
}
#sub-headline .tagline_left {
	margin:8px 0 0;
	padding:0
}
#breadcrumb {
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	padding:20px 0
}
#breadcrumb ul li.current a {
	text-decoration:underline
}
.container {
	border-top:1px solid #666;
	border-bottom:1px solid #666;
	padding:30px 0
}
.container1 {
	border-top:1px solid #666;
	padding:30px 0
}
.box {
	background-color:#FFF;
	border:1px solid #666;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:5px 5px 5px #ccc;
	-moz-box-shadow:5px 5px 5px #ccc;
	box-shadow:5px 5px 5px #ccc;
	padding:29px
}
.content {
	display:block;
	float:left;
	width:600px
}
#comments {
	margin-bottom:40px
}
#comments .commentlist li.comment_odd, #comments .commentlist li.comment_even {
	list-style:none;
	margin:0 0 10px;
	padding:15px
}
#comments .commentlist li.comment_odd {
	color:#666;
	background-color:#F7F7F7
}
#comments .commentlist li.comment_odd a {
	color:#A3443E;
	background-color:#F7F7F7
}
#comments .commentlist li.comment_even {
	color:#666;
	background-color:#E8E8E8
}
#comments .commentlist li.comment_even a {
	color:#A3443E;
	background-color:#E8E8E8
}
#comments .commentlist .submitdate {
	font-size:smaller
}
#comments .commentlist p {
	font-weight:400;
	text-transform:none;
	margin:10px 5px 10px 0;
	padding:0
}
#comments .commentlist li .avatar {
	float:right;
	border:1px solid #EEE;
	margin:0 0 0 10px
}
.sidebar {
	display:block;
	float:right;
	width:270px
}
.sidebar .holder, .sidebar #featured {
	display:block;
	width:270px;
	margin-bottom:20px
}
.sidebar .holder h2.title {
	display:block;
	width:100%;
	height:65px;
	font-size:20px;
	line-height:normal;
	border-bottom:1px dotted #666;
	margin:0;
	padding:15px 0 0
}
.sidebar .holder h2.title img {
	float:left;
	border:1px solid #666;
	margin:-15px 8px 0 0;
	padding:5px
}
.sidebar div.imgholder {
	display:block;
	width:260px;
	border:1px solid #666;
	margin:0 0 10px;
	padding:4px
}
.sidebar .holder p.readmore {
	display:block;
	width:100%;
	font-weight:700;
	text-align:right;
	line-height:normal
}
.sidebar #featured li {
	display:block;
	width:220px;
	margin:0;
	padding:20px 25px
}
.sidebar #featured li p.imgholder {
	display:block;
	width:210px;
	height:90px;
	border:1px solid #CCC;
	margin:20px 0 15px;
	padding:4px
}
.sidebar #featured li h2 {
	font-weight:400;
	font-family:Artifika, Georgia, Times New Roman, Times, serif;
	line-height:normal;
	border-bottom:1px dotted #666;
	margin:0;
	padding:0 0 8px
}
.sidebar #featured p.readmore {
	display:block;
	width:100%;
	margin-top:15px;
	font-weight:700;
	text-align:right;
	line-height:normal
}
.sidebar .latestnews {
	display:block;
	width:100%;
	list-style:none;
	margin:0;
	padding:0
}
.sidebar .latestnews li {
	display:block;
	width:100%;
	height:99px;
	border-bottom:1px dotted #C7C5C8;
	overflow:hidden;
	margin:0 0 11px;
	padding:0 0 21px
}
.sidebar .latestnews img {
	float:left;
	border:1px solid #C7C5C8;
	clear:left;
	margin:0 10px 0 0;
	padding:4px
}
.grid-container {
	background:url(../images/textured-light-bg.gif) repeat #f2f2f2;
	width:100%
}
.grid {
	width:100%;
	position:relative;
	display:block;
	margin:0 auto
}
.grid h2, .grid p, .grid ul, .grid a {
	font-weight:400;
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0
}
.grid h2 {
	font-size:16px;
	font-weight:400;
	margin-bottom:10px;
	padding-bottom:6px;
	border-bottom:1px dotted #585858;
	text-align:center
}
.grid .latestgallery {
	display:block;
	float:right;
	width:420px;
	margin:0;
	padding:0
}
.grid .latestgallery h2 {
	margin-left:50px!important;
	text-align:center
}
.grid .latestgallery li {
	float:right;
	display:block;
	background:url(../images/image-frames-thumb.png) top left no-repeat;
	height:110px;
	width:160px;
	padding:4px
}
.grid .footbox {
	display:block;
	float:left;
	width:220px;
	margin:0 0 0 50px;
	padding:0
}
.grid .footbox li {
	color:#333!important;
	margin:22px 0 0
}
.grid div.last, .grid .latestgallery li.last {
	margin-right:0
}
#social img {
	display:block;
	float:left
}
#social img:hover {
	opacity:0.7
}
footer {
	font-size:12px
}
h1, h2, h3, h4, h5, h6 {
	color:#333!important;
	font-family:Artifika, Arial, Helvetica, sans-serif
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color:#292929!important;
	font-family:Artifika, Arial, Helvetica, sans-serif
}
p {
	color:#333
}
#tagline, #tagline1 {
	padding-top:5px!important;
	font-size:18px!important;
	text-shadow:0 0 3px #555;
	letter-spacing:2px;
	font-family:ChunkFive, Arial, Helvetica, sans-serif
}
#tagline2 {
	padding-top:5px!important;
	font-size:14px!important;
	letter-spacing:1px;
	font-family:Artifika, Arial, Helvetica, sans-serif;
	margin-bottom:-10px;
	text-align: center;
}
#list1 li, #list2 li, #list3 li {
	padding-bottom:6px;
	margin-bottom:2px
}
#list1, #list2, #list3 {
	text-indent:5px;
	list-style-position:outside;
	list-style-image:url(../images/list-checkmark.png);
	list-style-type:square;
	margin:2px;
	padding:6px
}
input[type=text], input[type=email], input[type=url], textarea {
	background:rgba(206, 205, 205, 0.6);
	border:2px solid #666;
	line-height:2em;
	-webkit-box-shadow:inset -1px 1px 1px rgba(255, 255, 255, 0.65);
	-moz-box-shadow:inset -1px 1px 1px rgba(255, 255, 255, 0.65);
	box-shadow:inset -1px 1px 1px rgba(255, 255, 255, 0.65);
	-webkit-border-radius:8px!important;
	-moz-border-radius:8px!important;
	border-radius:8px!important;
	margin-bottom:10px;
	width:600px;
	padding:6px 5px
}
textarea {
	overflow:auto
}
input[type=text], input[type=email], input[type=url] {
	height:23px!important;
	width:200px
}
input[type=submit], input[type=reset] {
	background: #333;
	background: -moz-linear-gradient(top, #333 0%, #333333 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #333), color-stop(100%, #333333));
	background: -webkit-linear-gradient(top, #333 0%, #333333 100%);
	background: -o-linear-gradient(top, #333 0%, #333333 100%);
	background: -ms-linear-gradient(top, #333 0%, #333333 100%);
	background: linear-gradient(top, #333 0%, #333333 100%);
	color:#fff!important;
	border-radius:10px 0 10px 0;
	font-weight:700;
	text-shadow:0 0 1px #aaa;
	-webkit-transition:all 100ms linear;
	-moz-transition:all 100ms linear;
	-o-transition:all 100ms linear;
	transition:all 100ms linear;
	font-family:Verdana, Geneva, sans-serif!important;
	border-color:transparent;
	padding:14px 20px
}
#sub-headline input[type=submit] {
	height:35px!important
}
input[type=submit]:hover, input[type=reset]:hover {
	border-radius:0 10px 0 10px;
	color:#fff;
	opacity:1
}
.date {
	float:left;
	position:relative;
	margin-right:10px;
	padding:45px 5px 0
}
.date .month {
	text-transform:uppercase;
	font-size:25px
}
.date .day {
	font-size:35px;
	line-height:45px;
	position:absolute;
	left:5px;
	top:0
}
.date .year {
	display:block;
	position:absolute;
	right:-5px;
	top:15px;
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg)
}
a.more {
	float:left!important;
	margin-top:12px!important;
	width:140px!important;
	height:45px!important;
	font-size:15px!important;
	text-transform:uppercase;
	color:#A2A2A2!important;
	text-decoration:none;
	paadding-top:15px;
	font-family:Artifika, Verdana, Geneva, sans-serif;
	background:url(../images/futured_button.png) no-repeat left top;
	padding:18px!important
}
a.more:hover {
	color:#ddd!important
}
.callout {
	background:url(../images/textured-light-bg.gif) repeat #f2f2f2;
	width:100%;
	margin:20px 0 40px
}
.calloutoverlay {
	height:77px;
	background:url(../images/hash-overlay.png) repeat-x top left;
	position:absolute;
	top:-40px;
	left:0;
	width:100%
}
.calloutoverlaybottom {
	height:77px;
	background:url(../images/hash-overlay-bottom.png) repeat-x top left;
	position:absolute;
	bottom:-41px;
	left:0;
	width:100%
}
.calloutcontainer {
	width:100%;
	height:100%;
	position:relative;
	margin-top:25px;
	z-index:0;
	padding:20px 0
}
.callout .more {
	margin-top:-50px!important;
	float:right!important
}
a.read_more {
	width:200px;
	text-align:center;
	float:left;
	font-size:13px;
	color:#fff!important;
	text-decoration:none;
	margin-top:18px;
	background:#454545 url(../images/arrow_01.png) no-repeat right 9px;
	margin-left:15px;
	padding:2px 30px 4px 10px
}
a.read_more:hover {
	float:left;
	font-size:13px;
	color:#fff!important;
	text-decoration:none;
	margin-top:18px;
	background:#272727 url(../images/arrow_01.png) no-repeat right 9px;
	padding:2px 30px 4px 10px
}
.bold, #comments .commentlist .author .name {
	font-weight:700
}
.center, .block h2 {
	text-align:center
}
#header, #sub-headline, #nav-container, #breadcrumb, .container, .container1, .grid, footer, .callout .grid {
	position:relative;
	display:block;
	width:960px;
	margin:0 auto
}
#breadcrumb ul, #comments .commentlist ul, .sidebar #featured ul, .sidebar #featured h2, .sidebar #featured p {
	list-style:none;
	margin:0;
	padding:0
}
#breadcrumb ul li, .sidebar .latestnews p {
	display:inline
}
#comments .commentlist, footer p {
	margin:0;
	padding:0
}
footer p {
	text-align: center;
}
.sidebar .latestnews li.last, .grid .footbox li.last {
	margin-bottom:0
}
#nav-container {
	z-index:1000;
	font-size:14px;
	text-align:center;
	text-transform:uppercase;
	border-top:1px dashed #666;
	border-bottom:1px dashed #666
}
.nav, .nav * {
	list-style:none;
	margin:0;
	padding:0
}
.nav ul {
	position:absolute;
	top:-999em;
	width:10em
}
.nav ul li {
	width:100%
}
.nav li:hover {
	visibility:inherit
}
.nav li {
	position:relative;
	display:inline-block;
	zoom:1;
*display:inline;
}
.nav a {
	display:block;
	position:relative;
	color:#333!important;
	text-decoration:none;
	padding:.75em 1em
}
.nav li:hover ul, .nav li.sfHover ul {
	left:0;
	top:2.5em;
	z-index:99
}
.nav a, .nav a:visited, .nav li.active li a {
	color:#333
}
.nav a.sf-with-ul {
	padding-right:2.25em
}
.nav li ul a.sf-with-ul {
	padding-right:1em
}
.sf-sub-indicator {
	position:absolute;
	display:block;
	right:.75em;
	top:1.05em;
	width:10px;
	height:10px;
	text-indent:-999em;
	overflow:hidden;
	background:url(../images/nav_arrows.png) no-repeat -10px -100px
}
a > .sf-sub-indicator {
	top:.8em;
	background-position:0 -100px
}
a:focus > .sf-sub-indicator, a:hover > .sf-sub-indicator, a:active > .sf-sub-indicator, li:hover > a > .sf-sub-indicator, li.sfHover > a > .sf-sub-indicator {
	background-position:-10px -100px
}
.nav ul a > .sf-sub-indicator {
	background-position:0 0
}
.sidebar .subnav {
	display:block;
	background-color:#F9F9F9;
	margin-bottom:30px;
	padding:25px
}
.sidebar .subnav h2 {
	font-size:20px;
	font-weight:400;
	font-family:Georgia, "Times New Roman", Times, serif;
	color:#666;
	background-color:#F9F9F9;
	line-height:normal;
	border-bottom:1px dotted #666;
	margin:0 0 20px;
	padding:0 0 14px
}
.sidebar .subnav li {
	margin:0 0 3px;
	padding:0
}
.sidebar .subnav ul ul, .sidebar .subnav ul ul ul, .sidebar .subnav ul ul ul ul, .sidebar .subnav ul ul ul ul ul {
	border-top:none;
	padding-top:0
}
.sidebar .subnav a {
	display:block;
	color:#666;
	background:url(../images/red_file.gif) no-repeat 10px center #F9F9F9;
	text-decoration:none;
	border-bottom:1px dotted #666;
	margin:0;
	padding:5px 10px 5px 20px
}
.sidebar .subnav a:hover {
	color:#A3443E;
	background-color:#F9F9F9
}
.sidebar .subnav ul ul a, .sidebar .subnav ul ul ul a, .sidebar .subnav ul ul ul ul a, .sidebar .subnav ul ul ul ul ul a {
	background:url(../images/black_file.gif) no-repeat #F9F9F9
}
.sidebar .subnav ul ul a {
	padding-left:40px;
	background-position:30px center
}
.sidebar .subnav ul ul ul a {
	padding-left:50px;
	background-position:40px center
}
.sidebar .subnav ul ul ul ul a {
	padding-left:60px;
	background-position:50px center
}
.sidebar .subnav ul ul ul ul ul a {
	padding-left:70px;
	background-position:60px center
}
form, fieldset, legend {
	border:none;
	margin:0;
	padding:0
}
legend {
	display:none
}
input, textarea, select {
	font-size:12px;
	font-family:Georgia, "Times New Roman", Times, serif
}
#sub-headline input {
	display:block;
	float:left;
	width:155px;
	color:#565656;
	background-color:#EBEBEB;
	border:1px solid #C3C3C3;
	font-size:12px;
	margin:0 5px 0 0;
	padding:5px
}
#sub-headline input#go {
	width:68px;
	height:26px;
	text-transform:uppercase;
	color:#FFF;
	background-color:#565656;
	cursor:pointer;
	font-weight:700;
	border-color:#C3C3C3;
	margin:0;
	padding:4px 0
}
.container #respond {
	display:block;
	width:100%
}
.container #respond input {
	width:170px;
	border:1px solid #CCC;
	margin:5px 5px 0 0;
	padding:2px
}
.container #respond textarea {
	width:98%;
	border:1px solid #CCC;
	overflow:auto;
	padding:2px
}
.container #respond p {
	margin:5px 0
}
table {
	width:100%;
	border-collapse:collapse;
	table-layout:auto;
	vertical-align:top;
	margin-bottom:15px;
	border:1px solid #CCC
}
table thead th {
	color:#FFF;
	background-color:#666;
	border:1px solid #CCC;
	border-collapse:collapse;
	text-align:center;
	table-layout:auto;
	vertical-align:middle
}
table tbody td {
	vertical-align:top;
	border-collapse:collapse;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC
}
table thead th, table tbody td {
	border-collapse:collapse;
	padding:5px
}
table tbody tr.light {
	background-color:#F7F7F7
}
table tbody tr.dark {
	background-color:#E8E8E8
}
#home_featured21 .block {
	display:inline;
	float:left;
	width:280px;
	margin:0 30px 0 0;
	padding:0
}
#home_featured21 .last {
	width:275px;
	margin-right:0
}
#home_featured21 img {
	display:inline;
	float:left
}
#home_featured21 strong {
	float:left;
	font-size:22px;
	font-weight:400;
	color:#4A4A4A;
	background-color:#FFF;
	margin:8px 0 0 10px;
	padding:0
}
#home_featured21 p {
	display:block;
	clear:both;
	line-height:1.6em;
	margin:0;
	padding:10px 0 0
}
#home_featured21 .spacer {
	clear:both;
	line-height:normal;
	padding:8px 0
}
#home_featured2 {
	position:relative;
	display:block;
	width:960px;
	background:#eee url(../images/bg.png) repeat!important;
	margin:-45px auto 0!important;
	padding:30px 0 0
}
#home_featured2 img {
	display:inline
}
#home_featured2 .imgholder {
	display:block;
	width:290px;
	background:url(../images/image-frames.png) top left no-repeat;
	height:180px!important;
	margin:0;
	padding:9px
}
#home_featured2 li {
	display:block;
	float:left;
	width:300px;
	margin:0 30px 0 0;
	padding:0
}
#home_featured2 p {
	margin:0;
	padding:0 20px
}
#home_featured2 p strong {
	display:block;
	margin-bottom:10px;
	font-size:22px;
	font-weight:400;
	color:#4A4A4A;
	background-color:#E0E0E0
}
#home_featured2 h2 {
	text-align:center
}
#gallery {
	position:relative;
	display:block;
	width:900px;
	padding-bottom:10px;
	margin:0 auto
}
#gallery li {
	display:block;
	float:left;
	width:280px;
	margin:0 30px 20px 0;
	padding:0
}
#gallery li a img {
	display:block;
	width:260px;
	height:130px;
	border:10px solid #E0E0E0;
	margin:0;
	padding:0
}
#gallery li a:hover img {
	border-color:#B4B4B4
}
.portfolio {
	position:relative;
	display:block;
	width:100%;
	border-top:1px solid #999;
	border-bottom:1px solid #999;
	margin:0 auto 1px;
	padding:10px 0
}
.portfolio .readmore {
	display:block;
	text-align:right
}
.portfolio .tagline_left {
	display:block;
	float:left;
	width:350px;
	line-height:1.6em;
	margin:50px 0 0
}
.portfolio .tagline_right {
	display:block;
	float:right;
	width:500px
}
.portfolio .tagline_right img {
	display:block;
	width:470px;
	height:auto;
	border:10px solid #E0E0E0;
	padding:5px
}
.portfolio .tagline_right img:hover {
	display:block;
	width:470px;
	height:auto;
	border:10px solid #B4B4B4;
	padding:5px
}
#container {
	width:800px;
	height:350px;
	position:relative;
	border-top:5px solid #999;
	border-bottom:5px solid #999;
	margin:0 auto
}
#slide1 span, #slide2 span, #slide3 span {
	background:url(../images/contentBg.png) repeat top left transparent;
	position:absolute;
	bottom:20px;
	right:20px;
	padding:10px;
	width: 450px;
}
#slide1 .slideheading, #slide2 .slideheading, #slide3 .slideheading {
	font-family:"ChunkFive Regular", Georgia, serif;
	color:#FFF!important;
	font-size:35px;
	letter-spacing:2px;
	margin:0 0 10px
}
#slide1 p, #slide2 p, #slide3 p {
	font-family:Artifika, Georgia, serif;
	color:#FFF;
	margin:0
}
.jFlowSlideContainer a {
	color:#F90;
	text-decoration:none
}
.jFlowSlideContainer a:hover {
	text-decoration:none
}
.jFlowSlideContainer a:focus {
	position:relative;
	top:1px
}
.jFlowNext div {
	background:url(../images/arrows.png) no-repeat scroll 0 -35px transparent;
	height:130px;
	position:absolute;
	top:110px;
	right:-50px;
	width:50px;
	cursor:pointer
}
.jFlowPrev div {
	background:url(../images/arrows.png) no-repeat scroll -84px -35px transparent;
	height:130px;
	position:absolute;
	top:110px;
	left:-50px;
	width:50px;
	cursor:pointer
}
.jFlowPrev div:hover {
	background-position:-84px -235px
}
.jFlowNext div:hover {
	background-position:0 -235px
}
a.readmore {
	text-align:center;
	float:right;
	font-size:13px;
	color:#fff!important;
	text-decoration:none;
	margin-top:30px;
	background:#454545;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding:10px
}
a.readmore:hover {
	background:#272727
}
ul.nav li:hover li ul, ul.nav li.sfHover li ul, ul.nav li li:hover li ul, ul.nav li li.sfHover li ul {
	top:-999em
}
ul.nav li li:hover ul, ul.nav li li.sfHover ul, ul.nav li li li:hover ul, ul.nav li li li.sfHover ul {
	left:10em;
	top:0
}
.nav li.active a, .nav li:hover, .nav li.sfHover, .nav a:focus, .nav a:hover, .nav a:active {
	background:#e0e0e0
}
.nav li li, .nav li li li {
	background:#eee url(../images/bg.png) repeat
}
.nav ul .sf-sub-indicator, .nav ul a:focus > .sf-sub-indicator, .nav ul a:hover > .sf-sub-indicator, .nav ul a:active > .sf-sub-indicator, .nav ul li:hover > a > .sf-sub-indicator, .nav ul li.sfHover > a > .sf-sub-indicator {
	background-position:-10px 0
}
.sidebar .subnav ul, #home_featured2 ul, #gallery ul {
	list-style:none;
	margin:0;
	padding:0
}
#home_featured2 li.last, #gallery li.last {
	margin-right:0
}
#mySlides {
	font-family: Verdana, Arial, sans-serif;
	color: #FFF;
}
.container1 .slideheading {
	letter-spacing: 2px;
	text-shadow: 0px 5px 5px #333;
}
/* |--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|-------------------------------------------------------------------------- */
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left top
}
#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity:0;
	-moz-opacity:0;
	filter:alpha(opacity=0)
}
#toTop:active, #toTop:focus {
	outline:none
}
/* prettyPhoto */
div.pp_default .pp_top, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right, div.pp_default .pp_bottom, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right {
	height:13px
}
div.pp_default .pp_top .pp_left {
	background:url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat
}
div.pp_default .pp_top .pp_middle {
	background:url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x
}
div.pp_default .pp_top .pp_right {
	background:url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat
}
div.pp_default .pp_content .ppt {
	color:#f8f8f8
}
div.pp_default .pp_content_container .pp_left {
	background:url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y;
	padding-left:13px
}
div.pp_default .pp_content_container .pp_right {
	background:url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y;
	padding-right:13px
}
div.pp_default .pp_next:hover {
	background:url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat;
	cursor:pointer
}
div.pp_default .pp_previous:hover {
	background:url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat;
	cursor:pointer
}
div.pp_default .pp_expand {
	background:url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat;
	cursor:pointer;
	width:28px;
	height:28px
}
div.pp_default .pp_expand:hover {
	background:url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat;
	cursor:pointer
}
div.pp_default .pp_contract {
	background:url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat;
	cursor:pointer;
	width:28px;
	height:28px
}
div.pp_default .pp_contract:hover {
	background:url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat;
	cursor:pointer
}
div.pp_default .pp_close {
	width:30px;
	height:30px;
	background:url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat;
	cursor:pointer
}
div.pp_default .pp_gallery ul li a {
	background:url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8;
	border:1px solid #aaa
}
div.pp_default .pp_gallery a.pp_arrow_previous, div.pp_default .pp_gallery a.pp_arrow_next {
	position:static;
	left:auto
}
div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause {
	background:url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat;
	height:30px;
	width:30px
}
div.pp_default .pp_nav .pp_pause {
	background-position:-51px -29px
}
div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next {
	background:url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat;
	height:20px;
	width:20px;
	margin:4px 0 0
}
div.pp_default a.pp_arrow_next {
	left:52px;
	background-position:-82px -3px
}
div.pp_default .pp_content_container .pp_details {
	margin-top:5px
}
div.pp_default .pp_nav {
	clear:none;
	height:30px;
	width:105px;
	position:relative
}
div.pp_default .pp_nav .currentTextHolder {
	font-family:Georgia;
	font-style:italic;
	font-color:#999;
	font-size:11px;
	left:75px;
	line-height:25px;
	position:absolute;
	top:2px;
	margin:0;
	padding:0 0 0 10px
}
div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover {
	opacity:0.7
}
div.pp_default .pp_description {
	font-size:11px;
	font-weight:700;
	line-height:14px;
	margin:5px 50px 5px 0
}
div.pp_default .pp_bottom .pp_left {
	background:url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat
}
div.pp_default .pp_bottom .pp_middle {
	background:url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x
}
div.pp_default .pp_bottom .pp_right {
	background:url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat
}
div.pp_default .pp_loaderIcon {
	background:url(../images/prettyPhoto/default/loader.gif) center center no-repeat
}
div.light_rounded .pp_top .pp_left {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat
}
div.light_rounded .pp_top .pp_right {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat
}
div.light_rounded .pp_next:hover {
	background:url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat;
	cursor:pointer
}
div.light_rounded .pp_previous:hover {
	background:url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat;
	cursor:pointer
}
div.light_rounded .pp_expand {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat;
	cursor:pointer
}
div.light_rounded .pp_expand:hover {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat;
	cursor:pointer
}
div.light_rounded .pp_contract {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat;
	cursor:pointer
}
div.light_rounded .pp_contract:hover {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat;
	cursor:pointer
}
div.light_rounded .pp_close {
	width:75px;
	height:22px;
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat;
	cursor:pointer
}
div.light_rounded .pp_nav .pp_play {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat;
	height:15px;
	width:14px
}
div.light_rounded .pp_nav .pp_pause {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat;
	height:15px;
	width:14px
}
div.light_rounded .pp_arrow_previous {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat
}
div.light_rounded .pp_arrow_next {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat
}
div.light_rounded .pp_bottom .pp_left {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat
}
div.light_rounded .pp_bottom .pp_right {
	background:url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat
}
div.dark_rounded .pp_top .pp_left {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat
}
div.dark_rounded .pp_top .pp_right {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat
}
div.dark_rounded .pp_content_container .pp_left {
	background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y
}
div.dark_rounded .pp_content_container .pp_right {
	background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y
}
div.dark_rounded .pp_next:hover {
	background:url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat;
	cursor:pointer
}
div.dark_rounded .pp_previous:hover {
	background:url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat;
	cursor:pointer
}
div.dark_rounded .pp_expand {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat;
	cursor:pointer
}
div.dark_rounded .pp_expand:hover {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat;
	cursor:pointer
}
div.dark_rounded .pp_contract {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat;
	cursor:pointer
}
div.dark_rounded .pp_contract:hover {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat;
	cursor:pointer
}
div.dark_rounded .pp_close {
	width:75px;
	height:22px;
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat;
	cursor:pointer
}
div.dark_rounded .pp_description {
	margin-right:85px;
	color:#fff
}
div.dark_rounded .pp_nav .pp_play {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat;
	height:15px;
	width:14px
}
div.dark_rounded .pp_nav .pp_pause {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat;
	height:15px;
	width:14px
}
div.dark_rounded .pp_arrow_previous {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat
}
div.dark_rounded .pp_arrow_next {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat
}
div.dark_rounded .pp_bottom .pp_left {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat
}
div.dark_rounded .pp_bottom .pp_right {
	background:url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat
}
div.dark_rounded .pp_loaderIcon {
	background:url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat
}
div.dark_square .pp_left, div.dark_square .pp_middle, div.dark_square .pp_right, div.dark_square .pp_content {
	background:#000
}
div.dark_square .pp_description {
	color:#fff;
	margin:0 85px 0 0
}
div.dark_square .pp_loaderIcon {
	background:url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat
}
div.dark_square .pp_expand {
	background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat;
	cursor:pointer
}
div.dark_square .pp_expand:hover {
	background:url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat;
	cursor:pointer
}
div.dark_square .pp_contract {
	background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat;
	cursor:pointer
}
div.dark_square .pp_contract:hover {
	background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat;
	cursor:pointer
}
div.dark_square .pp_close {
	width:75px;
	height:22px;
	background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat;
	cursor:pointer
}
div.dark_square .pp_nav {
	clear:none
}
div.dark_square .pp_nav .pp_play {
	background:url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat;
	height:15px;
	width:14px
}
div.dark_square .pp_nav .pp_pause {
	background:url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat;
	height:15px;
	width:14px
}
div.dark_square .pp_arrow_previous {
	background:url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat
}
div.dark_square .pp_arrow_next {
	background:url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat
}
div.dark_square .pp_next:hover {
	background:url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat;
	cursor:pointer
}
div.dark_square .pp_previous:hover {
	background:url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat;
	cursor:pointer
}
div.light_square .pp_expand {
	background:url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat;
	cursor:pointer
}
div.light_square .pp_expand:hover {
	background:url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat;
	cursor:pointer
}
div.light_square .pp_contract {
	background:url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat;
	cursor:pointer
}
div.light_square .pp_contract:hover {
	background:url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat;
	cursor:pointer
}
div.light_square .pp_close {
	width:75px;
	height:22px;
	background:url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat;
	cursor:pointer
}
div.light_square .pp_nav .pp_play {
	background:url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat;
	height:15px;
	width:14px
}
div.light_square .pp_nav .pp_pause {
	background:url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat;
	height:15px;
	width:14px
}
div.light_square .pp_arrow_previous {
	background:url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat
}
div.light_square .pp_arrow_next {
	background:url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat
}
div.light_square .pp_next:hover {
	background:url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat;
	cursor:pointer
}
div.light_square .pp_previous:hover {
	background:url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat;
	cursor:pointer
}
div.facebook .pp_top .pp_left {
	background:url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat
}
div.facebook .pp_top .pp_middle {
	background:url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x
}
div.facebook .pp_top .pp_right {
	background:url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat
}
div.facebook .pp_content_container .pp_left {
	background:url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y
}
div.facebook .pp_content_container .pp_right {
	background:url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y
}
div.facebook .pp_expand {
	background:url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat;
	cursor:pointer
}
div.facebook .pp_expand:hover {
	background:url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat;
	cursor:pointer
}
div.facebook .pp_contract {
	background:url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat;
	cursor:pointer
}
div.facebook .pp_contract:hover {
	background:url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat;
	cursor:pointer
}
div.facebook .pp_close {
	width:22px;
	height:22px;
	background:url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat;
	cursor:pointer
}
div.facebook .pp_description {
	margin:0 37px 0 0
}
div.facebook .pp_loaderIcon {
	background:url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat
}
div.facebook .pp_arrow_previous {
	background:url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat;
	height:22px;
	margin-top:0;
	width:22px
}
div.facebook .pp_arrow_previous.disabled {
	background-position:0 -96px;
	cursor:default
}
div.facebook .pp_arrow_next {
	background:url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat;
	height:22px;
	margin-top:0;
	width:22px
}
div.facebook .pp_arrow_next.disabled {
	background-position:-32px -96px;
	cursor:default
}
div.facebook .pp_nav {
	margin-top:0
}
div.facebook .pp_nav p {
	font-size:15px;
	padding:0 3px 0 4px
}
div.facebook .pp_nav .pp_play {
	background:url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat;
	height:22px;
	width:22px
}
div.facebook .pp_nav .pp_pause {
	background:url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat;
	height:22px;
	width:22px
}
div.facebook .pp_next:hover {
	background:url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat;
	cursor:pointer
}
div.facebook .pp_previous:hover {
	background:url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat;
	cursor:pointer
}
div.facebook .pp_bottom .pp_left {
	background:url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat
}
div.facebook .pp_bottom .pp_middle {
	background:url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x
}
div.facebook .pp_bottom .pp_right {
	background:url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat
}
div.pp_pic_holder a:focus {
	outline:none
}
div.pp_overlay {
	background:#000;
	display:none;
	left:0;
	position:absolute;
	top:0;
	width:100%;
	z-index:9500
}
div.pp_pic_holder {
	display:none;
	position:absolute;
	width:100px;
	z-index:10000
}
.pp_content {
	height:40px;
	min-width:40px
}
* html .pp_content {
	width:40px
}
.pp_content_container {
	position:relative;
	text-align:left;
	width:100%
}
.pp_content_container .pp_left {
	padding-left:20px
}
.pp_content_container .pp_right {
	padding-right:20px
}
.pp_content_container .pp_details {
	float:left;
	margin:10px 0 2px
}
.pp_description {
	display:none;
	margin:0
}
.pp_social {
	float:left;
	margin:7px 0 0
}
.pp_social .facebook {
	float:left;
	position:relative;
	top:-1px;
	margin-left:5px;
	width:55px;
	overflow:hidden
}
.pp_social .twitter {
	float:left
}
.pp_nav {
	clear:right;
	float:left;
	margin:3px 10px 0 0
}
.pp_nav p {
	float:left;
	margin:2px 4px
}
.pp_nav .pp_play, .pp_nav .pp_pause {
	float:left;
	margin-right:4px;
	text-indent:-10000px
}
a.pp_arrow_previous, a.pp_arrow_next {
	display:block;
	float:left;
	height:15px;
	margin-top:3px;
	overflow:hidden;
	text-indent:-10000px;
	width:14px
}
.pp_hoverContainer {
	position:absolute;
	top:0;
	width:100%;
	z-index:2000
}
.pp_gallery {
	display:none;
	left:50%;
	margin-top:-50px;
	position:absolute;
	z-index:10000
}
.pp_gallery div {
	float:left;
	overflow:hidden;
	position:relative
}
.pp_gallery ul {
	float:left;
	height:35px;
	position:relative;
	white-space:nowrap;
	margin:0 0 0 5px;
	padding:0
}
.pp_gallery ul a {
	border:1px rgba(0, 0, 0, 0.5) solid;
	display:block;
	float:left;
	height:33px;
	overflow:hidden
}
.pp_gallery ul a img {
	border:0
}
.pp_gallery li {
	display:block;
	float:left;
	margin:0 5px 0 0;
	padding:0
}
.pp_gallery li.default a {
	background:url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat;
	display:block;
	height:33px;
	width:50px
}
.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next {
	margin-top:7px!important
}
a.pp_next {
	background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display:block;
	float:right;
	height:100%;
	text-indent:-10000px;
	width:49%
}
a.pp_previous {
	background:url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat;
	display:block;
	float:left;
	height:100%;
	text-indent:-10000px;
	width:49%
}
a.pp_expand, a.pp_contract {
	cursor:pointer;
	display:none;
	height:20px;
	position:absolute;
	right:30px;
	text-indent:-10000px;
	top:10px;
	width:20px;
	z-index:20000
}
a.pp_close {
	position:absolute;
	right:0;
	top:0;
	display:block;
	line-height:22px;
	text-indent:-10000px
}
.pp_loaderIcon {
	display:block;
	height:24px;
	left:50%;
	position:absolute;
	top:50%;
	width:24px;
	margin:-12px 0 0 -12px
}
#pp_full_res {
	line-height:1!important
}
#pp_full_res .pp_inline {
	text-align:left
}
#pp_full_res .pp_inline p {
	margin:0 0 15px
}
div.ppt {
	color:#fff;
	display:none;
	font-size:17px;
	z-index:9999;
	margin:0 0 5px 15px
}
div.pp_default .pp_content, div.light_rounded .pp_content {
	background-color:#fff
}
div.pp_default #pp_full_res .pp_inline, div.light_rounded .pp_content .ppt, div.light_rounded #pp_full_res .pp_inline, div.light_square .pp_content .ppt, div.light_square #pp_full_res .pp_inline, div.facebook .pp_content .ppt, div.facebook #pp_full_res .pp_inline {
	color:#000
}
div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a, .pp_gallery ul a:hover, .pp_gallery li.selected a {
	border-color:#fff
}
div.pp_default .pp_details, div.light_rounded .pp_details, div.dark_rounded .pp_details, div.dark_square .pp_details, div.light_square .pp_details, div.facebook .pp_details {
	position:relative
}
div.light_rounded .pp_top .pp_middle, div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right, div.light_rounded .pp_bottom .pp_middle, div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content, div.facebook .pp_content {
	background:#fff
}
div.light_rounded .pp_description, div.light_square .pp_description {
	margin-right:85px
}
div.light_rounded .pp_gallery a.pp_arrow_previous, div.light_rounded .pp_gallery a.pp_arrow_next, div.dark_rounded .pp_gallery a.pp_arrow_previous, div.dark_rounded .pp_gallery a.pp_arrow_next, div.dark_square .pp_gallery a.pp_arrow_previous, div.dark_square .pp_gallery a.pp_arrow_next, div.light_square .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next {
	margin-top:12px!important
}
div.light_rounded .pp_arrow_previous.disabled, div.dark_rounded .pp_arrow_previous.disabled, div.dark_square .pp_arrow_previous.disabled, div.light_square .pp_arrow_previous.disabled {
	background-position:0 -87px;
	cursor:default
}
div.light_rounded .pp_arrow_next.disabled, div.dark_rounded .pp_arrow_next.disabled, div.dark_square .pp_arrow_next.disabled, div.light_square .pp_arrow_next.disabled {
	background-position:-22px -87px;
	cursor:default
}
div.light_rounded .pp_loaderIcon, div.light_square .pp_loaderIcon {
	background:url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat
}
div.dark_rounded .pp_top .pp_middle, div.dark_rounded .pp_content, div.dark_rounded .pp_bottom .pp_middle {
	background:url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat
}
div.dark_rounded .currentTextHolder, div.dark_square .currentTextHolder {
	color:#c4c4c4
}
div.dark_rounded #pp_full_res .pp_inline, div.dark_square #pp_full_res .pp_inline {
	color:#fff
}
.pp_top, .pp_bottom {
	height:20px;
	position:relative
}
* html .pp_top, * html .pp_bottom {
	padding:0 20px
}
.pp_top .pp_left, .pp_bottom .pp_left {
	height:20px;
	left:0;
	position:absolute;
	width:20px
}
.pp_top .pp_middle, .pp_bottom .pp_middle {
	height:20px;
	left:20px;
	position:absolute;
	right:20px
}
* html .pp_top .pp_middle, * html .pp_bottom .pp_middle {
	left:0;
	position:static
}
.pp_top .pp_right, .pp_bottom .pp_right {
	height:20px;
	left:auto;
	position:absolute;
	right:0;
	top:0;
	width:20px
}
.pp_fade, .pp_gallery li.default a img {
	display:none
}
#header1 {
	text-align:center;
	text-transform:uppercase
}
#header h1 {
	list-style:none;
	line-height:normal;
	margin:0;
	padding:0
}
#header1 h1 a {
	font-family:'ChunkFive Regular', Arial, Helvetica, sans-serif;
	font-size:75px;
	text-shadow:0 3px 3px #555;
	-webkit-transition:all 200ms linear;
	-moz-transition:all 200ms linear;
	-o-transition:all 200ms linear;
	transition:all 200ms linear;
	-webkit-transform:translateZ(0);
	-moz-transform:translateZ(0);
	-o-transform:translateZ(0);
	transform:translateZ(0)
}
#header1 h1 a:hover {
	font-size:100px;
	-webkit-transform:scale(1.1) translateZ(0);
	-moz-transform:scale(1.1) translateZ(0);
	-o-transform:scale(1.1) translateZ(0);
	transform:scale(1.1) translateZ(0)
}
#header1 p {
	margin-top:-20px;
	font-size:20px;
}
.center {
	text-align: center;
}
.portfolio-list .black {
	background: #000;
}
.portfolio-list li {
	width: 299px;
	height: 100px;
	margin: 25px 25px 0px 0px;
	border: 1px solid #C7C5C8;
	padding: 1px;
	list-style: none;	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow:5px 5px 5px #ccc;
	-moz-box-shadow:5px 5px 5px #ccc;
	box-shadow:5px 5px 5px #ccc;
	float: left;
	background:#FFF;	
}
.portfolio-list li:nth-of-type(3n+3) {
	margin-right: 0px;
}
.portfolio-list img {
	display: block;
	max-height: 100%;
	max-width: 100%;
	margin: auto;
	vertical-align: middle;
}
.portfolio-list .more {
	width: 625px;
	margin: 25px 0px;
}
.portfolio-list .more h1 {
	margin-top: 30px;
}
.about-left {
	width: 505px;
	height: 436px;
	float: left;
}
.about-right {
	width: 300px;
	height: 436px;
	float: right;
}
.about-right img{
	margin: auto;
}
.services ul {
	margin-top: 22px;
}
.services ul li {
	margin-left: 20px;
	margin-top: 10px;
	font-size: 14px;
}
.services .sidebar h6 {
	margin-top: 8px;
}
div.portfolio-page h1 {
	margin-bottom: 0px;
}
div.contact div.content, div.contact textarea, contact input[type=text] {
	width: 400px;
}
.contact .sidebar {
	width: 470px;
}
.contact-info {
	position: absolute;
	left: 100px;
}