.forms fieldset .text-input,
.forms fieldset .text-area,
.comment-form input,
.comment-form textarea,
.footer .forms fieldset .text-input,
.footer .forms fieldset .text-area {
	line-height: 32px;
	padding: 0 10px;
}

.featured a span.overlay.more,
.items li a .caption {
	background-color: #000;
}

.post-container .related ul li {
	width: 151px;
	height: 110px;
}